<template name="home">
{{#markdown}}
## Welcome to my Blog
Here I'm talking about my latest discoveries from the world of JavaScript.
{{/markdown}}

<!-- {{exampleHelper}} -->
 
<!-- {{> contextExample dataContextHelper}} -->

<!-- {{#with dataContextHelper}}
{{> contextExample}}
{{/with}} -->

<!-- {{#blockHelperExample false}}ls
<span>Some Content</span>
{{else}}
<span>Some Warning</span>
{{/blockHelperExample}}
 -->

<h2>This comes from our Session: {{sessionExample}}</h2>

{{#each postsList}}
	{{> postInList}}
{{/each}}
<button class="lazyload">Load more</button>
</template>